.homeRow {
  display: flex;
  padding-top:2.5%;
  padding-bottom:2.5%;
  padding-left: 8%;
  padding-right: 8%;
  height:100% !important;
}
mat-card {
  background-color: aliceblue;
  width: 25%;
  height: 100% !important;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
